html, body {
    margin: 0;
    width: 100%;
}

.navbar {
    overflow: hidden;
    height: 2.5rem;
    background-color: rgb(97, 176, 89);
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    padding-right: 1rem;
    padding-left: 1rem;
    box-sizing: border-box;
}

.page-container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(231, 235, 240);
}

.content-wrap {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    /* Footer height */
}


.board {
    /*display: flex;
    flex-direction:;*/
    width: 100%;
}

.board-header {
    height: 7rem;
    width: 100%;
    background-color: rgb(104, 59, 152);
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-layout {
    display: flex;
    justify-content: center;
}

.column-layout {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.col {
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* Footer height */
}